header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 32px;
  overflow: hidden;
}

header .logo-header {
  background-color: black;
  padding: 24px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo-header img {
  height: 100px;
}

header .text-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 70%;
  margin: 0 auto;
}

header .text-header h1 {
  font-size: 34px;
  color: var(--dark-grey);
  text-transform: uppercase;
  width: 300px;
  overflow-wrap: break-word;
}

header .text-header p {
  color: var(--light-gray);
  text-align: justify;
}

header .text-header .heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  margin-bottom: 24px;
  gap: 14px;
}

header .text-header .heading .heading-border {
  height: 10px;
  width: 30%;
  background-color: var(--dark-grey);
} 