<form class="form-group" [formGroup]="pushForm">
  <div class="form-icon">
    <img src="/assets/images/png/icon-hour.png" alt="icon-hour">
    <h4>Horário</h4>
  </div>

  <div class="radio-wrapper">
    <h3>Qual período quer treinar?</h3>
  </div>

  <div class="radio-wrapper">
    <input type="radio" name="hour" id="morning" value="morning" formControlName="hour"/>
    <label for="morning">Manhã
      <span>06:00 ás 12h</span>
    </label>
    
  </div>

  <div class="radio-wrapper">
    <input type="radio" name="hour" id="afternoon" value="afternoon" formControlName="hour"/>
    <label for="afternoon">Tarde
      <span>12:01 ás 18h</span>
    </label>
  </div>

  <div class="radio-wrapper">
    <input type="radio" name="hour" id="night" value="night" formControlName="hour"/>
    <label for="night">Noite
      <span>18:01 ás 23h</span>
    </label>
  </div>

  <div class="radio-closed">
    <label for="show-closed">
      <input type="checkbox" name="shouldClosed" id="show-closed" formControlName="shouldClosed">
      Exibir unidader fechadas</label>
    <p>Resultados encontrados: {{ results.length }}</p>
  </div>
  <div class="button-wrapper">
    <button class="button-primary" (click)="onSubmit()">Encontrar unidade</button>
    <button class="button-secondary" (click)="onClean()">Limpar</button>
  </div>
</form>
