<form action="" class="form-group">
  <div class="form-icon">
    <img src="/assets/images/png/icon-hour.png" alt="icon-hour">
    <h4>Horário</h4>
  </div>

  <div class="radio-wrapper">
    <h3>Qual período quer treinar?</h3>
  </div>

  <div class="radio-wrapper">
    <input type="radio" id="morning"/>
    <label for="morning">Manhã
      <span>06:00 ás 12h</span>
    </label>
    
  </div>

  <div class="radio-wrapper">
    <input type="radio" id="afternoon"/>
    <label for="afternoon">Tarde
      <span>12:01 ás 18h</span>
    </label>
  </div>

  <div class="radio-wrapper">
    <input type="radio" id="night"/>
    <label for="night">Noite
      <span>18:01 ás 23h</span>
    </label>
  </div>

  <div class="radio-closed">
    <label for="show-closed">
      <input type="checkbox" id="show-closed">
      Exibir unidader fechadas</label>
    <p>Resultados encontrados: 0</p>
  </div>
  <div class="button-wrapper">
    <button class="button-primary">Encontrar unidade</button>
    <button class="button-secondary">Limpar</button>
  </div>
</form>
